.main {
  display: flex;
  flex-direction: column;
  justify-content: normal;
  align-items: flex-start;
  padding-top: 6rem;
  padding-left: 2rem;
  padding-right: 2rem;
  min-height: 100vh;
}

.h1 {
  color:#102178
}

.h2 {
  color: #102178;
}
.grid {
  display: grid;
  grid-template-columns: repeat(4, minmax(25%, auto));
  width: var(--max-width);
  margin-bottom: 10px;
}
.text1 {
  color: #102178;
}

.text2 {
  color: #102178;
}

.container {
  display: flex;
  padding-left: 0;
  padding-right: 0;
}

.container2 {
  padding-left: 0;
  padding-right: 5px;
}

.listcontainer {
  border-radius: 8;
  box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.1);
}

@media (min-width: 250px) and (max-width: 500px) {
  .h1 {
    font-size: medium;
    color:'#000'
  }
  .text1 {
    font-size: medium;
    font-weight: 600;
  }

  .text2 {
    font-size: small;
  }
  .grid {
    grid-template-columns: 1fr;
    max-width: 30ch;
    text-align: center;
  }

  .card {
    width: 30vw;
    display: block;
  }

  .container {
    display: block;
  }

}

/* Mobile */
@media (min-width: 500px) and (max-width: 700px) {
  .h1 {
    font-size: large;
  }
  .text1 {
    font-size: medium;
    font-weight: 600;
  }

  .text2 {
    font-size: medium;
  }

  .content {
    padding: 4rem;
  }

  .grid {
    grid-template-columns: 1fr;
    max-width: 60ch;
    text-align: center;
  }

  .card {
    width: 50vw;
    display: block;
    justify-content: space-between;
  }

  .container {
    display: block;
  }

}

/* Tablet and Smaller Desktop */
@media (min-width: 701px) and (max-width: 1800px) {
  .grid {
    grid-template-columns: repeat(2, 50%);
    width: 60ch;
  }

  .card {
    width: 60vw;
    display: flex;
    justify-content: space-between;
  }

}

@keyframes rotate {
  from {
    transform: rotate(360deg);
  }
  to {
    transform: rotate(0deg);
  }
}
